/*your custom CSS here*/
.heading{
  height: 100px;
  width: 100%;
  background-color: #003366;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 5px solid #eee;
  padding: 10px 10px 10px 10px;
  
}

h1{
  color: #ffffff;
  font-size: 200%;
  text-align: center;
  font-family: Arial, Verdana, sans-seriff;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-top: 40px;
  padding-bottom: 40px;
}

.box{
  width: 28%;
  float: left;
  position: relative;
  top: 30px;
  left: 0px;
  padding: 10px 15px;
  background-color: #bfbfbf;
  margin: 1%;
}

.box2{
  width: 28%;
  float: left;
  position: relative;
  top: 30px;
  left: 0px;
  padding: 10px 15px;
  background-color: #bfbfbf;
  margin: 1%;
}

.box3{
  width: 100%;
  float: left;
  position: relative;
  top: 30px;
  left: 10px;
  padding: 10px 15px;
  background-color: #bfbfbf;
  margin: 1%;
}


h2{
  font-size: 150%;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
  font-family: Arial, Verdana, sans-seriff;
}

body{
  margin-top: 40px;
  background-color: #999;
  padding: 100px 00px 0px 0px;
  font-family: Arial, Verdana, sans-seriff;
  font-size: 15px;
}

img{
  width: 100%;
  position: relative;
}

p{
  width: 100%;
  padding: 10px 0px 0px 0px;
}


.box a.read-more {
  display: block;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.box2 a.read-more {
  display: block;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.box3 img{
  width: 20%;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 10px;
  width: 100%;
  padding: 0 20px;
  border-top: 2px solid #222;
  background-color: #003366;
}

iframe{
  width: 100%;
  position: relative;
}
