/*your custom CSS here*/
.heading{
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #003366;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 5px solid #eee;
  padding: 10px 10px 0px 10px;
  
}

h1{
  color: #ffffff;
  font-size: 200%;
  text-align: center;
  font-family: Arial, Verdana, sans-seriff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.box{
  padding: 10px 0px;
  background-color: #bfbfbf;
  border-width: 3px;
  border-color: #000000;
}


h2{
  font-size: 150%;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  font-family: Arial, Verdana, sans-seriff;
}

body{
  background-color: #999;
  padding: 100px 10px 0px 10px;
  font-family: Arial, Verdana, sans-seriff;
}

img{
  width: 95%;
  text-align: center;
}



